@import "@repo/ui/globals.css";

@source "../../../packages/ui/src";

@theme {
	--font-sans: var(--font-manrope), "Manrope", sans-serif;
	--font-serif: var(--font-dm-serif), "DM Serif Display", serif;
}

@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}
